@model PermisViewModel
@{
    ViewData["Title"] = "Permission";
    ViewBag.Permission = "active";
    int i = 1;
}
<!-- start page title -->
<div class="row mt-3">
    <div class="col-lg-9 col-sm-12">
        <h5 class="font-black-two fw-semibold">Permission</h5>
    </div>
    <div aria-label="breadcrumb" class="col-lg-3 col-sm-12" id="navlable">
        <ol class="breadcrumb float-end">
            <li><a class="font-black-three" asp-controller="Home" asp-action="Privacy">Dashboard</a><i class="bi bi-chevron-right"></i></li>
            <li class="font-blue-two" aria-current="page">Permission</li>
        </ol>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12 col-md-12">
        <div class="card border-0 flex-fill w-100 rounded-3 shadow-sm">
            <div class="card-header border-0 bg-white p-0">
                <div class="pt-4 pb-2 ps-4">
                    <h5 class="text-uppercase fw-bold">
                        <i class="bi bi-gear-fill"></i> Permission
                    </h5>

                    <div class="row">
                        <div class="col-auto pe-4 pb-lg-0 pb-2">
                            <a class="font-blue pb-2 border-bottom border-info border-2" href="/ILIIssueTracker/Permission/AdminPro">Admin Approval Issue</a>
                        </div>
                    </div>

                </div>
            </div>
            <hr class="my-0">
            @*Button Add*@
            <div class="d-flex ms-3 py-2">
                <a data-bs-toggle="modal" data-bs-target="#AddPro" class="btn btn-blue btn-sm rounded me-2"><i class="bi bi-plus-circle-fill"></i>Add Admin</a>
                <div class="ms-auto text-end pe-2">
                    <div class="d-flex">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Search..." id="searchInput">
                            <div class="btn btn-dark"><i class="bi bi-search"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-1">
            @if (Model.Apermis.Count() == 0)
            {
                <div class="p-4">
                    <div class="alert alert-yellow alert-dismissible fade show" role="alert">
                        <i class="bi bi-exclamation-triangle-fill"></i> Personal Protective Equipment not found!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            }
            else
            {
                <div class="table-responsive d-none d-xl-block">
                    <table class="table table-striped table-hover align-middle mb-0 small" id="table-data">
                        <thead>
                            <tr class="align-middle">
                                <th class="text-start" width="10">#</th>
                                <th>
                                    <div class="d-flex">
                                        Employee ID
                                        <span class="ps-1 pt-1" onclick="sortCol('0')">
                                            <a class="bi bi-caret-up-fill fs06 d-flex text-body-tertiary" id="ascMo0"></a>
                                            <a class="bi bi-caret-down-fill fs06 d-flex text-body-tertiary" id="descMo0"></a>
                                        </span>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex">
                                        Name
                                        <span class="ps-1 pt-1" onclick="sortCol('1')">
                                            <a class="bi bi-caret-up-fill fs06 d-flex text-body-tertiary" id="ascMo1"></a>
                                            <a class="bi bi-caret-down-fill fs06 d-flex text-body-tertiary" id="descMo1"></a>
                                        </span>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex">
                                        Department
                                        <span class="ps-1 pt-1" onclick="sortCol('2')">
                                            <a class="bi bi-caret-up-fill fs06 d-flex text-body-tertiary" id="ascMo2"></a>
                                            <a class="bi bi-caret-down-fill fs06 d-flex text-body-tertiary" id="descMo2"></a>
                                        </span>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex">
                                        Position
                                        <span class="ps-1 pt-1" onclick="sortCol('3')">
                                            <a class="bi bi-caret-up-fill fs06 d-flex text-body-tertiary" id="ascMo3"></a>
                                            <a class="bi bi-caret-down-fill fs06 d-flex text-body-tertiary" id="descMo3"></a>
                                        </span>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex">
                                        Status
                                        <span class="ps-1 pt-1" onclick="sortCol('4')">
                                            <a class="bi bi-caret-up-fill fs06 d-flex text-body-tertiary" id="ascMo4"></a>
                                            <a class="bi bi-caret-down-fill fs06 d-flex text-body-tertiary" id="descMo4"></a>
                                        </span>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex">
                                        Level
                                        <span class="ps-1 pt-1" onclick="sortCol('5')">
                                            <a class="bi bi-caret-up-fill fs06 d-flex text-body-tertiary" id="ascMo5"></a>
                                            <a class="bi bi-caret-down-fill fs06 d-flex text-body-tertiary" id="descMo5"></a>
                                        </span>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex">
                                        Modified
                                        <span class="ps-1 pt-1" onclick="sortCol('6')">
                                            <a class="bi bi-caret-up-fill fs06 d-flex text-body-tertiary" id="ascMo6"></a>
                                            <a class="bi bi-caret-down-fill fs06 d-flex text-body-tertiary" id="descMo6"></a>
                                        </span>
                                    </div>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var permisdata in Model.Apermis)
                            {
                                var shortNameParts = permisdata.name_en.Split(' ');
                                var shortName = shortNameParts.Length > 1 ? shortNameParts[0] + " " + shortNameParts[1][0] + "." : permisdata.name_en;

                                <tr class="table-row filter-row [StatusForFilter]">
                                    <th class="text-start">@(i++)</th>
                                    <td>
                                        @permisdata.employee_id
                                    </td>
                                    <td>
                                        <img width="32" class="rounded-circle" src="https://omnia.dexon-technology.com/File/Image/Profile/@permisdata.profile_pic">
                                        @shortName
                                    </td>
                                    <td>
                                        @permisdata.department
                                    </td>
                                    <td>
                                        @permisdata.emp_position
                                    </td>
                                    @if (permisdata.status_active == "on")
                                    {
                                        <td class="ellipsis-text-tb">
                                            <i class="bi bi-circle-fill small font-green-two"></i>
                                            Active
                                        </td>
                                    }
                                    else
                                    {

                                        <td class="ellipsis-text-tb">
                                            <i class="bi bi-circle-fill small font-red-two"></i>
                                            off
                                        </td>
                                    }
                                    <td>
                                        @permisdata.role_emp
                                    </td>
                                    <td>
                                        @permisdata.Modify_date.ToString("MMM dd,yyyy HH:mm:ss")
                                    </td>
                                    <td class="text-end">
                                        @if (@permisdata.employee_id != ViewData["employee_id"] as string)
                                        {
                                            <a class="btn btn-sm btn-yellow" data-bs-toggle="modal" data-bs-target="#EditAd" data-edit-id="@permisdata.ID_permis">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                            <a onclick="deletead(@permisdata.ID_permis)" class="btn btn-sm btn-red">
                                                <i class="bi bi-trash3-fill"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>

@*--- POPUP ADD ADMINILI*@
<div class="modal fade" id="AddPro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticAddPro" aria-hidden="true">
    <div class="modal-dialog">
        <form method="POST" id="addadmin" class="needs-validation" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Add Admin team</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label class="form-label">Employee ID <span class="font-red-two">*</span></label>
                        <div class="col-lg-4 col-sm-12">
                            <input class="form-control" list="empOptions" id="empid" name="empid" value="" placeholder="Type to search..." required>
                            <datalist id="empOptions">
                                @foreach (var employee in Model.Employees)
                                {
                                    <option value="@employee.employee_id">@employee.name_en</option>
                                }
                            </datalist>
                        </div>
                        <div class="col-lg-8 col-sm-12">
                            <input type="text" class="form-control" name="name" id="name" value="" disabled>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="form-label">Level <span class="font-red-two">*</span></label>
                        <div class="col-12">
                            <select class="form-select" name="level">
                                <option value="Admin">Admin</option>
                                <option value="Member">Member</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" onclick="submitaddper()" class="btn btn-blue">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

@*--- POPUP EDIT ADMIN ILI*@
<div class="modal fade" id="EditAd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticEditAd" aria-hidden="true">
    <div class="modal-dialog">
        <form type="POST" id="editad" class="needs-validation" novalidate>
            <input type="text" id="EPerid" name="ePerid" hidden>

            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Update Level</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label class="form-label">Level</label>
                        <div class="col-12">
                            <select class="form-select" id="Elevels" name="elevels">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" onclick="submiteditili()" class="btn btn-green">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/filter.js"></script>

<script>
    //กดที่ปุ่มเพื่อค้นหา
    function renderFilter(statusFilter) {
        if (statusFilter === "All") {
            $(".filter-row").show();
        } else {
            $(".filter-row").hide();
            $(".filter-row." + statusFilter).show();
        }
    }

    //ยืนยันการเพิ่มพนักงาน
    function submitaddper() {
        event.preventDefault(); // ป้องกันการรีเฟรชหน้าเมื่อกดปุ่ม Submit
        var formData = $("#addadmin").serialize();

        $.ajax({
            url: '@Url.Action("_AddPer" ,"Permission")',
            type: "POST",
            data: formData,
            success: function (data) {
                if (data === true) {
                    Swal.fire({
                        title: 'Administrator Added Successfully',
                        html: 'The administrator has been added successfully.',
                        icon: 'success',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.href = '@Url.Action("Permission", "Permission")';
                        }
                    });
                } else if (data === "exists") {
                    $("#empid").val("");
                    $("#name").val("");
                    Swal.fire({
                        title: 'Administrator Already Exists',
                        html: 'The administrator already exists in the database.',
                        icon: 'warning',
                        confirmButtonText: 'Close'
                    });
                } else {
                    $("#empid").val("");
                    $("#name").val("");
                    Swal.fire({
                        title: 'Failed to Add Administrator',
                        html: 'The administrator addition was not successful.',
                        icon: 'error',
                        confirmButtonText: 'Close'
                    });
                }
            }
        });
    }

    //แก้ไขข้อมูล
    function submiteditili() {
        event.preventDefault(); // ป้องกันการรีเฟรชหน้าเมื่อกดปุ่ม Submit

        var formData = $("#editad").serialize();

        Swal.fire({
            title: 'Are you sure you want to edit this level?',
            html: '',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#16C79B',
            confirmButtonText: 'Confirm',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("_EditPer" ,"Permission")',
                    type: "POST",
                    data: formData,
                    success: function (data) {
                        if (data === true) {
                            Swal.fire({
                                title: 'Level Edited Successfully',
                                html: 'The level has been edited successfully.',
                                icon: 'success',
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.href = '@Url.Action("Permission", "Permission")';
                                }
                            });
                        } else {
                            Swal.fire({
                                title: 'Failed to Edit Level',
                                html: 'The level edit was not successful.',
                                icon: 'error',
                                confirmButtonText: 'Close'
                            });
                        }
                    }
                });
            }
        });
    }

    function deletead(id) {
        Swal.fire({
            title: 'Are you sure you want to delete this administrator?',
            html: '',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#F24C4C',
            confirmButtonText: 'Delete',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("_Delete" ,"Permission")',
                    type: "POST",
                    data: { id: id },
                    success: function (data) {
                        if (data === true) {
                            Swal.fire({
                                title: 'Administrator Deleted Successfully',
                                html: 'The administrator has been deleted successfully.',
                                icon: 'success',
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.href = '@Url.Action("Permission", "Permission")';
                                }
                            });
                        } else {
                            Swal.fire({
                                title: 'Failed to Delete Administrator',
                                html: 'The administrator delete was not successful.',
                                icon: 'error',
                                confirmButtonText: 'Close'
                            });
                        }
                    }
                });
            }
        });
    }

    $(document).ready(function () {
        //-------------- SHOW DATA EDIT
        $('#EditAd').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // หา Element ที่ถูกคลิก
            var editid = button.data('edit-id'); // อ่านค่า data-edit-id จาก Element

            $.ajax({
                url: '@Url.Action("_ShowEdit" ,"Permission")',
                type: "POST",
                data: { editid: editid },
                success: function (data) {
                    // เมื่อดึงข้อมูลสำเร็จ
                    if (data) {
                        // ตั้งค่าข้อมูลใน Input fields และ Dropdown
                        $('#EPerid').val(data.perid);

                        if (data.levels === "Admin") {
                            $('#Elevels').html("<option value='Admin' selected>Admin</option><option value='Member'>Member</option>");
                        } else {
                            $('#Elevels').html("<option value='Admin'>Admin</option><option value='Member' selected>Member</option>");
                        }
                    }
                },
                error: function (error) {
                    Swal.fire({
                        title: 'An Error Occurred',
                        html: 'Please contact the system administrator.',
                        icon: 'error',
                        confirmButtonText: 'Close'
                    });
                }
            });
        });
    });

    //ใส่ชื่อทันทีเมื่อเลือกรหัสพนักงาน
    document.getElementById('empid').addEventListener('input', function () {
        var selectedEmployeeId = this.value;
        var employeeName = "";

        var dataListOptions = document.getElementById('empOptions').childNodes;

        for (var i = 0; i < dataListOptions.length; i++) {
            var option = dataListOptions[i];

            if (option.value === selectedEmployeeId) {
                employeeName = option.innerText;
                break;
            }
        }

        document.getElementById('name').value = employeeName;
    });
</script>